/* app css stylesheet */

@font-face {
	font-family: 'Herr Von Muellerhoff';
	font-style: normal;
	font-weight: 400;
	src: local('Herr Von Muellerhoff Regular'), local('HerrVonMuellerhoff-Regular'), url(../font/header.woff) format('woff');
}

body {
	padding: 1em 3em;
}

#header #title {
	font-family: 'Herr Von Muellerhoff', cursive;
	font-size: 2.5em;
	float: left;
}

#header #rightHeader {
	float: right;
	margin: 2.5em;
}

#main {
	clear: both;
}

.lineNumber {
	font-family: 'Courier New', Courier, monospace;
}

.lineNumber, .formula {
	font-size: 1.7em;
}

#texinput {
	margin: 1em 3em;
	padding: 0.4em;
	font-size: 1em;
	width: 80%;
	height: 1.2em;
	resize: both;
}

#peerid {
	width: 10em;
}

#error {
	padding-top: 1em;
	color: #ff0000;
}

.pointer {
	position: absolute;
	z-index: 9999;
}

.click {
	position: absolute;
	z-index: 9998;
	width: 10px;
	height: 10px;
	margin: -5px 0 0 -5px;
	border-radius: 20px;
	border: 3px solid black;

	transition: width 2s, height 2s, margin 2s, border 2s;
	-moz-transition: width 2s, height 2s, margin 2s, border 2s;
	-webkit-transition: width 2s, height 2s, margin 2s, border 2s;
}

.click.clicking {
	width: 40px;
	height: 40px;
	margin: -20px 0 0 -20px;
	border-radius: 20px;
	border: 3px solid rgba(0, 0, 0, 0);
}
