<!doctype html>
<html lang="en" ng-app="mathador">
<head>
	<meta charset="utf-8">
	<title>Mathador</title>
	<!-- mathjax -->
	<script type="text/x-mathjax-config">
		MathJax.Hub.Config({
			extensions: ["tex2jax.js"],
			jax: ["input/TeX", "output/HTML-CSS"],
			tex2jax: {
				inlineMath: [ ['$','$'] ],
				displayMath: [ ["\\[","\\]"] ],
				processEscapes: true,
			},
			messageStyle: "none",
			showMathMenu: false,
			menuSettings: {
				zoom: "No Zoom"
			},
			"HTML-CSS": { availableFonts: ["TeX"] }
		});
	</script>
	<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML.js"></script>

<link rel="stylesheet" href="css/app.css"/>
</head>
<body no-backspace ng-controller="MathadorCtrl">
	<div id="header">
		<h1 id="title">Mathador</h1>
		<div ng-hide="export">
			<div id="rightHeader">
				<p id="size">Size: <input id="slider" type="range" min="1" max="30" value="10" ng-model="size"></p>
			</div>
		</div>
	</div>
	<div ng-hide="export" id="main" ng-repeat="line in lines track by $index">
		<div ng-click="activate({{$index}})" id="output{{$index}}">
			<span class="lineNumber">{{$index + 1}}&gt;</span> <span class="formula" ng-resize="size" ng-mathjax="line"></span><br/>
			<input id="texinput" focus="{{active}}" ng-show="active == $index" ng-change="push($index, lines[$index])" ng-keydown="keydown($event, $index)" type="text" ng-model="lines[$index]"/>
		</div>
	</div>
	<div ng-show="export" id="main">
		<div ng-repeat="line in lines track by $index">
			<p style="margin: 0; padding: 0">{{lines[$index]}}</p>
		</div>
	</div>

	<script src="lib/angular/angular.js"></script>
	<!-- dependencies -->
	<script src="lib/sockjs-client/sockjs.js"></script>
	<script src="lib/ot.js"></script>
	<script src="js/app.js"></script>
	<script src="js/services.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/directives.js"></script>
	<script src="lib/ot.services.js"></script>
</body>
</html>
