<!doctype html>
<html lang="en" ng-app="mathador">
<head>
	<meta charset="utf-8">
	<title>Mathador</title>

	<!--peer.js-->
	<script src="http://cdn.peerjs.com/0/peer.min.js"></script>

	<!-- mathjax -->
	<script type="text/x-mathjax-config">
		MathJax.Hub.Config({
			extensions: ["tex2jax.js"],
			jax: ["input/TeX", "output/HTML-CSS"],
			tex2jax: {
				inlineMath: [ ['$','$'] ],
				displayMath: [ ["\\[","\\]"] ],
				processEscapes: true,
			},
			messageStyle: "none",
			"HTML-CSS": { availableFonts: ["TeX"] }
		});
	</script>
	<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML.js"></script>

<link rel="stylesheet" href="css/app.css"/>
</head>
<body no-backspace ng-controller="MathadorCtrl">
	<div id="header">
		<h1 id="title">Mathador</h1>
		<p id="size">Size: <input id="slider" type="range" min="1" max="30" value="10" ng-model="size"></p>
	</div>
	<div id="main" ng-repeat="line in lines">
		<div ng-click="activate({{line.number}})" id="output{{line.number}}">
			<span class="lineNumber">{{line.number + 1}}&gt;</span> <span class="formula" ng-resize="size" ng-mathjax="line.content"></span><br/>
			<input id="texinput" focus="{{active}}" ng-show="active == line.number" ng-keydown="keydown($event, line.number)" type="text" ng-model="line.content"/>
		</div>
	</div>

	<div ng-controller="PeerCtrl">
		<div ng-init="test='testing'"></div>
		<form ng-submit="connect()">
			Name:
			<input id="peerid" label="name" type="text" ng-model="peerid" ng-disabled="connectionStatus == 'connecting' || connectionStatus == 'connected'" />
			<button ng-init="buttonMsg='go online'">{{buttonMsg}}</button><br/>
		</form>
		<div ng-show="connectionStatus == 'connected'">
			Add: <input id ="" label="add" type="text" ng-model="friendid"/><button ng-click="add()">add</button><br/>
			Peers:
			<span ng-repeat="p in peers track by $index">
				<span>{{p.peer}}</span><span ng-hide="$last">, </span>
			</span>
			<br/>
			<div id="chat" ng-controller="ChatCtrl">
				<form ng-submit="send()">
					Message: <input id="chatinput" type="text" ng-model="chatinput"/>
				</form>
				<div ng-repeat="m in messages track by $index">{{m}}</div>
			</div>
		</div>
		<div id="error" ng-show="error">Error: {{error}}</div>
	</div>

	<!-- In production use:
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	-->
	<script src="lib/angular/angular-1.1.5.js"></script>
	<script src="js/app.js"></script>
	<script src="js/services.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/directives.js"></script>
</body>
</html>
