<!doctype html>
<html lang="en" ng-app="mathador">
<head>
	<meta charset="utf-8">
	<title>Mathador</title>
	<!-- mathjax -->
	<script type="text/x-mathjax-config">
		MathJax.Hub.Config({
			extensions: ["tex2jax.js","MathEvents.js","MathZoom.js","MathMenu.js","toMathML.js","TeX/noErrors.js","TeX/noUndefined.js","TeX/AMSmath.js","TeX/AMSsymbols.js"],
			jax: ["input/TeX", "output/HTML-CSS"],
			tex2jax: {
				inlineMath: [],
				displayMath: [],
				processEscapes: true,
			},
			TeX: { equationNumbers: { autoNumber: "AMS" } },
			messageStyle: "none",
			showMathMenu: false,
			menuSettings: {
				zoom: "No Zoom"
			},
			"HTML-CSS": { availableFonts: ["TeX"] }
		});
	</script>
	<!--<script type="text/javascript" src="lib/MathJax/MathJax.js"></script>-->
	<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML">
</script>
<link rel="stylesheet" href="css/app.css"/>
</head>
<body no-backspace ng-controller="MathadorCtrl">
	<div id="main">
		<header id="header">
			<h1>Mathador</h1>
		</header>

		<div id="editor">
			<div ui-ace="{
					useWrapMode: true,
					mode: 'markdown',
					onLoad: aceLoaded,
					theme: 'dawn',
					docId: docId
				}" ng-model="content"></div>
		</div>
		<div id="view" mathdown ng-model="content"></div>
	</div>

	<!-- dependencies -->
	<script src="lib/marked.js"></script>
	<script type="text/javascript">
		marked.setOptions({
			gfm: true,
			pedantic: false,
			sanitize: true
		});
	</script>
	<script src="lib/sockjs.min.js"></script>
	<script src="lib/share.js"></script>

	<!-- angular and services -->
	<!--<script src="lib/angular.min.js"></script>-->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js">
	</script>

	<!-- ace editor -->
	<script src="lib/ace.js"></script>
	<script src="lib/mode-markdown.js"></script>
	<script src="lib/theme-dawn.js"></script>
	<script src="lib/ui-ace.js"></script>

	<script src="lib/ace-share.js"></script>

	<script src="js/app.js"></script>
	<script src="js/services.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/directives.js"></script>
</body>
</html>
